<div class="agenthome"><p>Hello admin,</p>
<p>View the status of your agents and the evolution of their latest alerts</p>

<p class="sp">Installed agents by their status</p>

<div class="row" style="margin-left:1px ;">
    
<div class="card" >
    <div class="card-body">
      <p class="card-title">Total agents</p>

      <p class="card-text total-agent">{{totalAgents}}</p>
    
    </div>
  </div>


    <div class="card" >
        <div class="card-body">
          <p class="card-title">Active agents</p>
         
          <p class="card-text active-agent ">{{activeAgents}}</p>
        
        </div>
      </div>
    
    
        <div class="card">
            <div class="card-body">
              <p class="card-title">Disconnected agents</p>
              <p class="card-text disconnected-agent">{{disconnectedAgents}}</p>
            
            </div>
          </div>
       
       
            <div class="card" >
                <div class="card-body">
                  <p class="card-title">Pending agents</p>
                  <p class="card-text pending-agent">{{pendingAgents}}</p>
                
                </div>
              </div>
           
           
                <div class="card" >
                    <div class="card-body">
                      <p class="card-title">Never connected agents</p>
                  
                      <p class="card-text never-Connected-agent">{{neverConnectedAgents}}</p>
                    
                    </div>
                  </div>
               
</div>
</div>

